.navbar{
	width: 90%;
    margin: 0 auto;
	display: flex;
    justify-content: flex-end;
    align-items: center;
	
}
a{
	text-decoration: none;
}
html .navbar a{
	color:#000;
}
a:visited{
	color:#005dff;
}
html a:hover{
	color:#fe33a3;
}
.profile{
	border-radius:3px;
}
.profile:link,.profile:visited{
  background-color: #000;
  color: white;
  padding: 5px 5px; 
  text-decoration: none;
 }
.profile:hover, .profile:active {
  background-color: #fe33a3;
}

.box{
	display:inline-block;
	width: 100%;
 	max-width: 640px;
  	margin: 100px 0px 200px 25%;
   	padding: 0 20px;
 }
.name{
	font-size:2.7em;
	margin-bottom:-10px;
}
#about{
	font-size:1.2em;
	color:#fe33a3;
}



.content .title{
	margin-top:75px;
}
.content .head{
	color:#005dff;
	font-size:1.2em;
}
.content .data{
	margin-top:-5px;
}
.text{
	margin-bottom:-190px;
}