.navbar{
	float:right;
}
a{
	text-decoration: none;
}
html .navbar a{
	color:#000;
}
a:visited{
	color:#005dff;
}
html a:hover{
	color:#fe33a3;
}
.profile{
	border-radius:3px;
}
.profile:link,.profile:visited{
  background-color: #000;
  color: white;
  padding: 5px 5px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}
.profile:hover, .profile:active {
  background-color: #fe33a3;
}
.box{
	margin:auto;
}
#image{
	float: right;
	width: 160px;
	height: 170px;
	border-radius: 50%;
	margin-right:400px;
	padding-top:150px;
}
h1{
	margin:auto;
	font-size:2.7em;
	padding-top:200px;
	padding-left:200px;
    max-width: 600px;
}
#about{
	font-size:1.2em;
	color:#fe33a3;
	padding-left:500px;
	margin-top:-0px;
}



.content{
	padding-left:400px;
	margin-right:400px;
}
.content .title{
	margin-top:100px;
}
.content .head{
	color:#005dff;
	font-size:1.2em;
	padding-top:10px;
}
.content .data{
	margin-top:-5px;
}